PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
MONGO_URL=

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=8f1590001@smtp-brevo.com
SMTP_PASSWORD=RsOmWqtG2k0crlWP
SMTP_FROM=vadymvlodarchyk@gmail.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
